<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/css/style.css"/>
        <script src='https://www.google.com/recaptcha/api.js'></script>

        {% set titleVar = 'Group4 Website' %}

        <title>{{ title|default(titleVar) }}</title>
        <script>
        </script>
    </head>
    <body>
        <div id="container">
            <div id="navbar">
                <a href="/"> Home</a></br />
                <br>
                {% if isLoggedIn %}
                    Logged in as {{ loggedInUsername|raw }} {{user.id}}.<br>
                    {% if isAdmin %}
                        <a href="/admin">Admin section</a> <br>
                    {% endif %}
                    <a href="/user/edit/{{user.id}}"> {{loggedInUsername}} </a> <br>
                    <a href="/logout">Log out</a> <br>
                {% else %}
                    <a href="/register">Create user</a> <br />
                    <a href="/login">Login</a> <br>
                    <a href="/help">Help</a> <br>
                    
                {% endif %}



            </div>
            <div id="content">
                <div id="flashinfo">{{ flash.info|raw }}</div>


                {% block content %}
                <h1>WELCOME TO GROUP4 !<h2>
                {% if isLoggedIn %}
                <h2> Hi {{loggedInUsername}}! </h2>
                <h4> We hope that you will find something interesting! <h4>
                <img src="/images/jk1.jpg" alt="KEK">
                {% else %}
                <h2>  Please log in to see more of this awesome website! </h2>
                <img src="/images/OWASP.png" alt="KEK">
                {% endif %}
                
                
                {% endblock %}


            </div>
        </div>

        <div id="footer">
            {% block footer %}Made by group 4{% endblock %}
        </div>
    </body>
</html>
