{% extends 'base.twig' %}

{% block content %}

<h2>Help </h2>

{{form_start(form)}}
   {{form_widget(form.name)}}
   {{form_widget(form.subject)}}
   {{form_widget(form.message)}}
   <!-- Now add the widget with the sitekey that you retrieve in the registration --> 
   <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>

   {{form_widget(form.submit)}}
{{form_end(form)}}

{% endblock %}

